@define-color accent_color #fe2d53;
@define-color accent_bg_color #fe2d53;
@define-color window_bg_color #fff;
@define-color headerbar_bg_color #fff;

.fab {
  color: #000;
}
.fab image {
  min-width: 24px;
  min-height: 24px;
  -gtk-icon-size: 24px;
}

.gauge_hp trough progress {
  background: #fe2d53;
}
.gauge_sp trough progress {
  background: #75dec2;
}
.gauge_xp trough progress {
  background: #000;
}

.red-label {
  color: #fe2d53;
}
.black-label {
  color: #111;
}
.white-label {
  color: #fff;
}

.card.flipped {
  opacity: 0;
  transform: translate(0,0);
}

.suit {
  font-size: 32px;
}

.opaque-toggle toggle {
  background-color: @borders;
}
.opaque-toggle toggle:checked {
  background-color: alpha(@borders, 1.2);
}

.soldunzh {
  background-color: #fff;
  background-image: url(resource://io/github/lainsce/Soldunzh/bg-light.svg);
  background-position: 50% 50%;
  background-repeat: repeat;
}

.card {
  background: #fff;
  color: #000;
  border-radius: 16px;
  transform: translate(0,-4px);
}
.card:hover {
  transform: translate(0,4px);
}

.card-bg {
  background: #fafafa;
  border-radius: 16px;
}
.card-bg label {
  font-size: 1.5rem;
}

.timeline {
  background: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 0 0 3px @borders;
  font-family: monospace;
  padding: 8px;
}
