@define-color accent_color #ab3232;
@define-color accent_bg_color #ab3232;
@define-color window_bg_color #000;
@define-color headerbar_bg_color #000;

.gauge_xp trough progress {
  background: #eee;
}

.soldunzh {
  background-color: #000;
  background-image: url(resource://io/github/lainsce/Soldunzh/bg.svg);
  background-position: 0% 0%;
  background-repeat: repeat;
}

.card.flipped {
  background: #363636;
  box-shadow: 0 0 3px #363636;
}

.timeline {
  background: #111;
  color: #fff;
}